<div class="box">
  <div class="box-header">
    <h5 class="box-title"><b>pump function table</b></h5>
  </div>
  <!-- /.box-app-header -->
  <div class="box-body">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Type</th>
        <th>TrimData(mm)</th>
        <th>Impeller</th>
        <th>Eff	NPSHr(m)</th>
        <th>Power-Ra...</th>
        <th>Power-M...</th>
        <th>MotorFrame</th>
        <th>Frequency</th>
        <th>Poles	Motor...</th>
        <th>Flow/Beep</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of curveFunctionRows">
        <td>{{row._type}}</td>
        <td>{{row.trimData}}</td>
        <td>{{row.impeller}}</td>
        <td>{{row.effNpshr}}</td>
        <td>{{row.powerRa}}</td>
        <td>{{row.powerM}}</td>
        <td>{{row.motorFrame}}</td>
        <td>{{row.frequency}}</td>
        <td>{{row.polesMotor}}</td>
        <td>{{row.flowBeep}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Type</th>
        <th>TrimData(mm)</th>
        <th>Impeller</th>
        <th>Eff	NPSHr(m)</th>
        <th>Power-Ra...</th>
        <th>Power-M...</th>
        <th>MotorFrame</th>
        <th>Frequency</th>
        <th>Poles	Motor...</th>
        <th>Flow/Beep</th>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
