<div class="row">
  <div class="col-ms-3">
    <div class="input-group">
      <span class="input-group-addon">TYPE:</span>
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <span class="input-group-addon">TrimDia:</span>
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <span class="input-group-addon">Poles:</span>
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <span class="input-group-addon">Effi:</span>
      <input type="text">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-ms-3">
    <div class="input-group">
      <span class="input-group-addon">Frequency:</span>
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <span class="input-group-addon">Speed:</span>
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <span class="input-group-addon">Q:</span>
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <span class="input-group-addon">H:</span>
      <input type="text">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-ms-3">
    <div class="input-group">
      <span class="input-group-addon">Multi Conversion:</span>
      <select>
        <option>Frequency</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-ms-3">
    <div class="input-group">
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <input type="text">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-ms-3">
    <div class="input-group">
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <input type="text">
    </div>
  </div>
  <div class="col-ms-3">
    <div class="input-group">
      <input type="text">
    </div>
  </div>
</div>
<div class="row">
  <button>PREVIEW</button>
  <button>PDF/PRINT</button>
</div>
