<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Frequency</span>
          <select>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Type</span>
          <select>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Flange Rating</span>
          <select>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Motor Brand</span>
          <select>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Poles</span>
          <select>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Motor Power</span>
          <select>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Voltage</span>
          <select>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Coupling</span>
          <select>
            <option>option</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-ms-3">
      <div class="input-group">
        <span class="input-group-addon">Rotation</span>
        <div class="form-group">
          <label>
            <input type="radio" name="r3" class="flat-red" checked>
            CW
          </label>
          <label>
            <input type="radio" name="r3" class="flat-red">
            CCW
          </label>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <button>PREVIEW</button>
  <button>RESET</button>
  <button>PDF/PRINT</button>
</div>
