<!-- Content Wrapper. Contains page app-content -->
<div class="content-wrapper">
  <!-- Content Header (Page app-app-header) -->
  <section class="content-header">
    <h1>
      {{pageTitle}}
      <small>{{pageDesc}}</small>
    </h1>
    <ol class="breadcrumb">
      <!-- <li><a href="#"><i class="fa fa-dashboard"></i>top</a></li> -->
      <li><a><i class="fa fa-dashboard"></i>top</a></li>
      <li>{{sublevel}}</li>
    </ol>
  </section>

  <!-- Main app-content -->
  <section class="content container-fluid">
    <router-outlet></router-outlet>
  </section>
  <!-- /.app-content -->
</div>
