<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Q:</span>
          <input type="text">
          <select>
            <option>option</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">H:</span>
          <input type="text">
          <select>
            <option>option</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Frequency:</span>
          <select>
            <option>option</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Pole:</span>
          <select>
            <option>All</option>
            <option>2</option>
            <option>3</option>
          </select>
          <span class="input-group-addon">MotorSpeed:</span>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
      </label>
      <button>MATERIAL</button>
      <button>OTHERUNIT</button>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
      </label>
      <button>LIQUID</button>
      <button>MOTOR</button>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <button>SEARCH</button>
        <button>RESET</button>
        <button>PREVIEW</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.kp">
        KP
      </label>
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.kpv">
        KPV
      </label>
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.lf">
        LF
      </label>
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.lfe">
        LFE
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.cl">
        CL
      </label>
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.cls">
        CLS
      </label>
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.cvm">
        CVM
      </label>
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.chm">
        CHM
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.kpe">
        KPE
      </label>
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.kpev">
        KPEV
      </label>
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.vl">
        VL
      </label>
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.vls">
        VLS
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.lc">
        LC
      </label>
      <label>
        <input type="checkbox" class="flat-red" [checked]="selection.cld">
        CLD
      </label>
    </div>
    <div>
      <button (click)="selectAll()">ALL</button>
    </div>
  </div>
</div>
