<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Q:</span>
          <input type="text">
          <select>
            <option>option</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">H:</span>
          <input type="text">
          <select>
            <option>option</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Frequency:</span>
          <select>
            <option>option</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <div class="input-group">
          <span class="input-group-addon">Pole:</span>
          <select>
            <option>All</option>
            <option>2</option>
            <option>3</option>
          </select>
          <span class="input-group-addon">MotorSpeed:</span>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
      </label>
      <button>MATERIAL</button>
      <button>OTHERUNIT</button>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
      </label>
      <button>LIQUID</button>
      <button>MOTOR</button>
    </div>
    <div class="row">
      <div class="col-ms-3">
        <button>SEARCH</button>
        <button>RESET</button>
        <button>PREVIEW</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>
        <input type="checkbox" class="flat-red" checked>
        KP
      </label>
      <label>
        <input type="checkbox" class="flat-red">
        KPV
      </label>
      <label>
        <input type="checkbox" class="flat-red" checked>
        LF
      </label>
      <label>
        <input type="checkbox" class="flat-red">
        LFE
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" class="flat-red" checked>
        CL
      </label>
      <label>
        <input type="checkbox" class="flat-red">
        CLS
      </label>
      <label>
        <input type="checkbox" class="flat-red" checked>
        CVM
      </label>
      <label>
        <input type="checkbox" class="flat-red">
        CHM
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" class="flat-red" checked>
        KPE
      </label>
      <label>
        <input type="checkbox" class="flat-red">
        KPEV
      </label>
      <label>
        <input type="checkbox" class="flat-red" checked>
        VL
      </label>
      <label>
        <input type="checkbox" class="flat-red">
        VLS
      </label>
      <div class="form-group">
        <label>
          <input type="checkbox" class="flat-red" checked>
          LC
        </label>
        <label>
          <input type="checkbox" class="flat-red">
          CLD
        </label>
      </div>
      <div>
        <button>ALL</button>
      </div>
    </div>
  </div>
</div>
